fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
pgvector
python-dotenv
langchain
langchain-community
langchain-huggingface
langchain-google-genai
langchain-text-splitters
sentence-transformers
datasets
pydantic[email]
